body{
  background:#E8F7EE;
  
}
.main{
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-content: center;
}
/* .navbar{
z-index: 1;
position:fixed;
width: 1440px;
height: 67px;
left: 0px;
top: 0px;
background: #08090A;
} */
      .Logo{
        position: absolute;
        left:45%;
      }
      .searchfield{
      position: absolute;
      width: 195px;
      height: 46px;
      top: 12px;
      left:0%;
      /* background: #020304; */
      
      }

      /* .Logo{
      position: absolute;
      width: 242px;
      height: 51px;
      left: 40%;
      top: 5px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color:#FFFFFF;
      }

    /* Categories*/
     /* .category{
      position: absolute;
      text-align: center;

      width: 425px;
      height: 43px;
      right: 0px;
      top: 7px;

      }
      .category>a{
        
        width:30px;
        
        margin-left: 60px;
        color: #FFFFFF;
        
      } */
      #user_info{
        position: absolute;
        width: 10%;
        height:100%;
        right:20%;
        /* border:grey 1px solid; */
        text-align: center;
        padding-top:15px;
        
        
      }
      #user_info:hover{
        border-bottom: 4px solid black;
      }
/**/
.banner{
position: relative;

width: 100%;
height: 220px;
top: 1px;
border: 1px solid #000000;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 1px;
}
  .banner>img{
    width:100%;
    max-height: 100%;
  }

.filter{
position:relative;
width: 250px;
height: 600px;
top: 130px;
background: #B4EBCA;
padding-left:50px;
}
.filter>h1{
  position:absolute;
  font-size:30px;
  text-align: center;
}
.filter>#sort_list{
  position: absolute;
  top:20%;
}


.sneakers_list{
  margin-top:100px;
}
.sneakers{
  display:inline-block;
  position:relative;
  /* right:0px; */
  width:270px;
  height:315px;
  margin-top:30px;
   
  }
.sneakers:hover{
  transform: scale(1.1);
}

.sneakers>a{
  background-color: #7FC6A4;
  display: block;
  height: 100%;
}
        .sneakers_img{
          position: relative;
          height:55%;
          width:100%;
        }
        .sneakers_name{
          position: relative;      
          text-align: center;
          width:100%;
          height:20%;
          bottom:0%;
        }
        .sneakers_prize{
          position: relative;
          text-align: center;
          font-size: 150%;
          width:100%;
          height:10%;
          bottom: 0%;
        }
            









.footer{

margin-top:300px;
width:100%;
height: 130px;
left: 0px;
bottom:0px;

background: green;}



