body{
  /* background:#8EB897; */
  background: #DBF1FF
}
.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  }
.nav_bar{
    /* background-color:#3E721D */
    background-color:#3F6D84
}
      .Logo{
        position: absolute;
        left:48%;
      }
        #Logo{
          color: white
        }
      .searchfield{
      position: absolute;
      width: 195px;
      height: 46px;
      top: 12px;
      left:0%;
      /* background: #020304; */
      
      }

      
      #user_info{
        position: absolute;
        width: 10%;
        height:130%;
        right:20%;
        /* border:grey 1px solid; */
        text-align: center;
        padding-top:15px;
        
        
      }
      #user_info:hover{
        border-bottom: 4px solid black;
      }
/**/
.banner{
position: relative;

width: 100%;
height: 220px;
top: 1px;
border: 1px solid #000000;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 1px;
}
  .banner>img{
    width:100%;
    max-height: 100%;
  }

.filter{
position: relative;
width: 250px;
height: 600px;
top: 130px;
/* background: #379634; */
background: #4A809B;
padding-left:50px;
}
.filter>h1{
  position:absolute;
  font-size:30px;
  text-align: center;
}
.filter>#sort_list{
  position: absolute;
  top:20%;
}


.sneakers_list{
  margin-top:100px;
}
.sneakers{
  display:inline-block;
  position:relative;
  /* right:0px; */
  width:270px;
  height:315px;
  margin-top:30px;
   
  }
.sneakers:hover{
  transform: scale(1.1);
}

.sneakers>a{
  /* background-color: #7FC6A4; */
  background-color:#C3E2F4; 
  display: block;
  height: 100%;
}
        .sneakers_img{
          position: relative;
          height:55%;
          width:100%;
        }
        .sneakers_name{
          position: relative;      
          text-align: center;
          width:100%;
          height:20%;
          bottom:0%;
        }
        .sneakers_price{
          position: relative;
          text-align: center;
          font-size: 150%;
          width:100%;
          height:10%;
          bottom: 0%;
        }
            
.footer{
margin-top:50%;
width:100%;
height: 130px;
left: 0px;
bottom:0px;

background: #3F6D84;}



