/* body{
  //background: #A6C36F;
} */
/* .navbar{
z-index: 1;
position:fixed;
width: 1440px;
height: 67px;
left: 0px;
top: 0px;
background: #08090A;
} */
      .searchfield{
      position: absolute;
      width: 195px;
      height: 46px;
      top: 12px;
      right:50%;
      /* background: #020304; */
      
      }

      /* .Logo{
      position: absolute;
      width: 242px;
      height: 51px;
      left: 40%;
      top: 5px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color:#FFFFFF;
      }

    /* Categories*/
     /* .category{
      position: absolute;
      text-align: center;

      width: 425px;
      height: 43px;
      right: 0px;
      top: 7px;

      }
      .category>a{
        
        width:30px;
        
        margin-left: 60px;
        color: #FFFFFF;
        
      } */
      #user_info{
        position: absolute;
        width: 10%;
        height:100%;
        right:25%;
        border:white 1px solid;
        color:blue;
        text-align: center;
        font-size: 25px;
      }
/**/
.banner{
position: relative;

width: 100%;
height: 220px;
top: 70p  x;
border: 1px solid #000000;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 1px;
}
.filter{
position:relative;
width: 135px;
height: 300px;
left: 35px;
top: 80px;
background: #F7F6EB;
}
.filter>h1{
  position:absolute;
  font-size:30px;
  text-align: center;
}
.filter>#sort_list{
  position: absolute;
  top:20%;
}


 .sneakers_per_row{
  margin-left:20%;
  
}
.sneakers{
  display:inline-block;
  position:relative;
  right:0px;
  width:240px;
  height:315px;
  margin-left: 50px;
  margin-right:50px;
  margin-top:25px;
  margin-bottom: 25px;
  background: #FFF7B0;  
  }





.sneakers>img{
  background:red;
  position:absolute;
  height:55%;
  width:240px;
}




.footer{
z-index: -1;
position: relative;
width:100%;
height: 130px;
left: 0px;
bottom:0%;
margin: 0 auto;
background: #08090A;}



