.cart_detail{
    position: relative;
    width:100%;
    margin-top:20px;
}
#submitPackage{
    position: relative;
    
    width:25%;
    height:50px;
    margin-top:5%;
    text-align: center;
}
#btn_purchase{
    
}