.sneakers_detail{
    position: absolute;
    width:75%;
    height:400px;
    top:200px;
    left:30%;
    right:0px;
}
.sneakers_img{
    position:absolute;
    width:25%;
    height:100%;
    background: yellow;
}
.description{
    border:solid;
    position:absolute;
    right:0px;
    width:50%;
    height:100%;
    background:#FFFFFF;
}
    .sneakers_name{
        position: absolute;
        text-align: center;
        width:100%;
        height:20%;
        
    }
    .sneakers_prize{
        position: absolute;
        text-align: center;
        width:100%;
        height:10%;
        top: 20%;
    }
    .quantity{
        position: absolute;
    }
    #btn_add_to_cart{
        position:absolute;
        background: orangered;
        height:30%;
        width:50%;
        left:25%;
        bottom: -200px;
        
    }